// ==========================================================================
// (SCSS) Section noscript
// ==========================================================================

.noscript {
  align-items: center;
  display: flex;
  justify-content: center;
}
