// ==========================================================================
// (SCSS) Section Heading
// ==========================================================================

.heading {
  align-items: center;
  background: #ccc;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}
